h1,h2,h3{
    font-family: var(--title-font-family);
    margin-bottom: .2em;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    letter-spacing: var(--title-tracking);
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
}

p {
    font-size: .875em;
    line-height: 1.4em;
}