#trackList {
    border: 1px; 
    border-radius: .25rem; 
    border-color: black; 
    border-style: solid;
    max-width: 350px;
    padding: .5rem;
    margin: 1rem 0;
}
#player {
    max-width: 350px;
    border: #000000 solid 1px;
    border-radius: .25rem;
}

/* input range styles */
input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #000000;
    background: #ABABAB;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 3px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #F2F2F2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ABABAB;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #000000;
    background: #ABABAB;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 3px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #F2F2F2;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ABABAB;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #ABABAB;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 3px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background: #F2F2F2;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ABABAB;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ABABAB;
  }