input[type=range] {
    height: 1em;
    -webkit-appearance:none;
    margin: 1em 0;
}

#playhead::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    height:1.5em;
    width: 1.25em;
    cursor: pointer;
    background: var(--slide-handle);
    border: none;
    border-radius: .25em;
    box-shadow: inset -.5px -.5px 1.5px #000000;
}

#playhead::-moz-range-thumb {
    height:1.5em;
    width: 1.25em;
    cursor: pointer;
    background: var(--slide-handle);
    border: none;
    border-radius: .25em;
    box-shadow: inset -.5px -.5px 1.5px #000000;
}

#playhead {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: 5px;
    outline: none;
    background: var(--slide-track);
    border-radius: 8px;
    width: 64%;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    height:1.25em;
    width: 1.25em;
    cursor: pointer;
    background: var(--slide-handle);
    border: none;
    border-radius: 50%;
    box-shadow: inset -1px -1px .5px #000000;
    /* position: relative;
    right: .45em; */
}
#volume::-moz-range-thumb {
    appearance: none;
    height:1.25em;
    width: 1.25em;
    cursor: pointer;
    background: var(--slide-handle);
    border: none;
    border-radius: 50%;
    box-shadow: inset -1px -1px .5px #000000;

}
#wrapVolume {
    height: 3em;
    width: 1em;
    float: right;
    margin-right: -1%;
    margin-top: .25em;
}
#wrapVolume:after {
        content: "";
        display: table;
        clear: both;    
}

#volume {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    height: .4em;
    width: 3em;
    outline: none;
    border-radius: .25em;
    background: var(--slide-track);
    transform-origin: 1.7em 1.5em;
    transform: rotate(-90deg);
    margin: 0;
}