:root {
    --light-font: var(--accent-color);
    --accent-color: rgb(216, 143, 247);
    --color-one: #fff;
    --slide-track: #dbdbdb;
    --slide-handle:var(--accent-color);
    --play-pause:var(--accent-color);
    --title-font-family: 'IBM Plex Mono', monospace;
    --title-tracking:.15em;
    --playheadContBorder:var(--slide-track);
    --player-background: rgb(45, 45, 45);
    --controls-bg-img: url('../imgs/flower.jpg');
    --timeRemaining-bg: var(--player-background)
}
body {
    background-color: rgb(69, 69, 69);
}
p  {
    color: white;
}